@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(22, 22, 22);
    color: white;
}

.cab {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
}

.port1 {
    display: flex;
    align-items: center;
    align-content: center;
}

.dark {
    cursor: pointer;
}

label {
    padding: 10px;
}

i {
    padding: 5px;
    margin: 10px;
}

.port1 img {
    width: 40px;
    border-radius: 50%;
}

.pesquisa {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 60%;
}

input {
    background: rgb(22, 22, 22);
    border: solid 1px rgb(80, 79, 79);
    padding: 3px;
}

.coluna {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.coluna i {
    margin: 10px;
}

.geral {
    display: flex;
}

.esquerdo {
    width: 50%;
    margin-left: 7%;
    margin-top: -13%;
}

.projeto {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.projeto h3 {
    margin-right: 84%;
}

.projeto p {
    margin-right: -1px;
}

.pro {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

.num {
    margin-right: 20px;
}

.pro1 {
    margin-left: 60%;
    display: flex;
}


.dezembro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dezembro p {
    margin-right: 100%;
    display: contents;
}

.dezembro i {
    margin-left: 125px
}

.web {
    text-align: center;
    width: 270px;
}

.progresso {
    display: flex;
    height: 0.3rem;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin: 0px 20px 0px 20px;
    width: 270px;
}

.progress {
    padding: 0px 15px 5px;
    width: 260px;
}


.porcentagem {
    margin-left: 75%;
}

.iprogress {
    display: flex;
    align-items: center;
    width: 215px;
}

.iprogress img {
    width: 30px;
    border-radius: 50%;
    margin: 0px -30px;
    margin-left: 10px;
}

.iprogress i {
    margin-left: 37px;
    background: black;
    border-radius: 50%;
    font-size: 10px;
}

.iprogress p {
    margin-left: 25%;
    background: black;
    border-radius: 20px;
    padding: 7px;
    width: 180px;
    text-align: center;
}

.quadro {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.s {
    width: 30%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 10px;
}

.quadro1 {
    background: rgb(48, 13, 13);
}

.quadro1 .progresso h3 {
    background: rgb(224, 140, 15);
    width: 50%;
}

.quadro2 {
    background: rgb(44, 21, 71);
}

.quadro2 .progresso h3 {
    background: rgb(77, 12, 180);
    width: 50%;
}

.quadro3 {
    background: rgb(26, 21, 36);
}

.quadro3 .progresso h3 {
    background: rgb(36, 68, 138);
    width: 80%;
}

.quadro4 {
    background: rgb(107, 37, 53);
}

.quadro4 .progresso h3 {
    background: rgb(212, 35, 50);
    width: 20%;
}

.quadro5 {
    background: rgb(4, 27, 4);
}

.quadro5 .progresso h3 {
    background: rgb(31, 202, 74);
    width: 60%;
}

.quadro6 {
    background: rgb(31, 20, 71);
}

.quadro6 .progresso h3 {
    background: rgb(17, 30, 212);
    width: 60%;
}

.direito {
    /* margin-left: -20px; */
    margin-top: -280px;
}

.usuario {
    margin: 30px;
}

.pessoas {
    display: flex;
    align-items: center;
    align-content: center;
}

.pessoas img {
    width: 30px;
    border-radius: 50%;
    margin: 0px -30px;
    margin-left: 10px;
}

.dec {
    text-align: end;
}

.client h3 {
    margin-left: 45px;
}

.clientes {
    display: flex;
    align-items: center;
    align-content: center;
}

.gerald h4 {
    margin-left: 50px;
    width: 100%;
}

.gerald p {
    margin-left: 60px;
}

a {
    color: white;
    text-decoration: none;
}

a .web {
    width: auto;
}

a .progress {
    margin: auto;
}

a .progresso {
    width: auto;
}

a .iprogress {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.usuarios :hover {
    background: blue;
}

.j {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 10px;
    border-radius: 20px;
}

.not {
    background: white;
    width: 100px;
    height: 70px;
    position: absolute;
    right: 190px;
    margin-top: 125px;
    color: black;
    display: none;
}

.pesquisar, .pesquisa p {
    right: 70%;
    position: absolute;
    display: none;
}

.ocutar {
    position: absolute;
    margin-left: -2px;
    left: 121vh;
}

@media (max-width: 1280px) {
    
    .geral {
        display: block;
        font-size: 13px;
    }
    .pesquisa {
        margin-right: 25%;
    }

    input {
        font-size: 8px;
    }

    .coluna {
        margin: auto;
    }

    .esquerdo {
        width: auto;
    }

    .direito {
        margin-top: auto;
    }

    .projeto h3 {
        margin-right: 70%;
    }

    .pro1 {
        margin-left: 40%;
    }

    .quadro {
        height: auto;
    }

    .chart {
        border: 3px solid royalblue;
      }

}

@media (max-width: 798px) {
    .coluna {
        margin: auto;
    }

    ul {
        font-size: 9px;
    }

    .port1 i {
        margin: auto;
    }

    .port1 img {
        width: 30px;
    }

    .pesquisa {
        margin-right: 0px
    }

    input {
        width: 80px;
    }

    .geral {
        font-size: 9px;
        display: block;
    }

    .esquerdo {
        width: 50%;
        margin-top: -145px;
        margin-left: 90px;
    }

    .direito {
        margin-top: auto;
    }

    .projeto {
        width: auto;
        margin: auto;
    }

    .pro1 {
        display: flex;
        margin: 7px;
    }

    .pro1 i {
        margin: auto;
    }

    .num {
        margin-right: auto;
    }

    .num p {
        width: 50px;
        margin: auto;
    }

    .quadro {
        height: auto;
    }

    .s {
        width: 40vh;
    }
}










