@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(22, 22, 22);
    color: white;
}

.cab {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
}

.port1 {
    display: flex;
    align-items: center;
    align-content: center;
}

label {
    padding: 10px;
}

i {
    padding: 5px;
    margin: 10px;
}

.port1 img {
    width: 40px;
    border-radius: 50%;
}

.pesquisa {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 60%;
}

input {
    background: rgb(22, 22, 22);
    border: solid 1px rgb(80, 79, 79);
    padding: 3px;
}

.coluna {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.coluna i {
    margin: 10px;
}

.geral {
    display: flex;
}

.esquerdo {
    width: 50%;
    margin-left: 7%;
    margin-top: -13%;
}

.projeto {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.projeto h3 {
    margin-right: 84%;
}

.projeto p {
    margin-right: -1px;
}

.pro {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
}

.num {
    margin-right: 20px;
}

.pro1 {
    margin-left: 60%;
}

.s {
    width: 30%;
}

.dezembro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.dezembro p {
    margin-right: 65%;
}

.dezembro i {
    margin-left: 125px
}

.web {
    text-align: center;
    margin-bottom: 60px;
}

.progresso {
    display: flex;
    height: 0.3rem;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    width: 80%;
    margin-left: 10%;
}

.progress {
    padding: 0px 15px 5px;
    width: 260px;
    text-align: center;
}


.porcentagem {
    margin-left: 75%;
    padding: 10px;
}

.iprogress {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.iprogress img {
    width: 30px;
    border-radius: 50%;
    margin: 0px -30px;
    margin-left: 10px;
}

.iprogress i {
    margin-left: 37px;
    background: black;
    border-radius: 50%;
    font-size: 10px;
}

.iprogress p {
    margin-left: 25%;
    background: black;
    border-radius: 20px;
    padding: 7px;
    width: 180px;
    text-align: center;
}

.quadro {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
}

a {
    width: 100%;
    text-decoration: none;
    color: white;
    text-decoration: none;
}


.s {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 10px;
}


.quadro {
    background: rgb(107, 37, 53);
}

.quadro .progresso h3 {
    background: rgb(212, 35, 50);
    width: 50%;
}


.direito {
    /* margin-left: -20px; */
    margin-top: -280px;
}

.usuario {
    margin: 30px;
}

.pessoas {
    display: flex;
    align-items: center;
    align-content: center;
}

.pessoas img {
    width: 30px;
    border-radius: 50%;
    margin: 0px -30px;
    margin-left: 10px;
}

.dec {
    text-align: end;
}

.client h3 {
    margin: 25px;
}

.clientes {
    display: flex;
    align-items: center;
    align-content: center;
}

.gerald h4 {
    margin-left: 50px;
    width: 100%;
}

.gerald p {
    margin-left: 60px;
}

@media (max-width: 1280px) {
    
    .geral {
        display: block;
        font-size: 13px;
    }
    .pesquisa {
        margin-right: 25%;
    }

    input {
        font-size: 8px;
    }

    .coluna {
        margin: auto;
    }

    .esquerdo {
        width: auto;
    }

    .direito {
        margin-top: auto;
    }

    .projeto h3 {
        margin-right: 70%;
    }

    .pro1 {
        margin-left: 40%;
    }

    .quadro {
        height: auto;
    }


}

@media (max-width: 798px) {
    .coluna {
        margin: auto;
    }

    ul {
        font-size: 9px;
    }

    .port1 i {
        margin: auto;
    }

    .port1 img {
        width: 30px;
    }

    .pesquisa {
        margin-right: 0px
    }

    input {
        width: 80px;
    }

    .geral {
        font-size: 9px;
        display: block;
    }

    .esquerdo {
        width: 50%;
        margin-top: -145px;
        margin-left: 90px;
    }

    .direito {
        margin-top: auto;
    }

    .projeto {
        width: auto;
        margin: auto;
    }

    .pro1 {
        display: flex;
        margin: 7px;
    }

    .pro1 i {
        margin: auto;
    }

    .num {
        margin-right: auto;
    }

    .num p {
        width: 50px;
        margin: auto;
    }

    .quadro {
        height: auto;
    }

    .s {
        width: 40vh;
    }
}