@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(22, 22, 22);
    color: white;
}

.cab {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
}

.port1 {
    display: flex;
    align-items: center;
    align-content: center;
}

.dark {
    cursor: pointer;
}

label {
    padding: 10px;
}

i {
    padding: 5px;
    margin: 10px;
}

.port1 img {
    width: 40px;
    border-radius: 50%;
}

.pesquisa {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 60%;
}

input {
    background: rgb(22, 22, 22);
    border: solid 1px rgb(80, 79, 79);
    padding: 3px;
}

.coluna {
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.coluna i {
    margin: 10px;
}

.geral {
    display: flex;
}

.gerald {
    display: block;
    align-items: center;
    align-content: center;
    justify-content: right;
    margin-left: 65%;
    margin-top: -220px;
}

.gerald h4 {
    margin-left: 50px;
    width: 100%;
}

.gerald p {
    margin-left: 60px;
}

a {
    color: white;
    text-decoration: none;
}

a .web {
    width: auto;
}

a .progress {
    margin: auto;
}

a .progresso {
    width: auto;
}

a .iprogress {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.usuarios :hover {
    background: blue;
}

.j {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 10px;
    border-radius: 20px;
}

@media (max-width: 1280px) {
    
    .geral {
        display: block;
        font-size: 13px;
    }
    .pesquisa {
        margin-right: 25%;
    }

    input {
        font-size: 8px;
    }

    .coluna {
        margin: auto;
    }

    .esquerdo {
        width: auto;
    }

    .direito {
        margin-top: auto;
    }

    .projeto h3 {
        margin-right: 70%;
    }

    .pro1 {
        margin-left: 40%;
    }

    .quadro {
        height: auto;
    }




}

@media (max-width: 798px) {
    .coluna {
        margin: auto;
    }

    ul {
        font-size: 9px;
    }

    .port1 i {
        margin: auto;
    }

    .port1 img {
        width: 30px;
    }

    .pesquisa {
        margin-right: 0px
    }

    input {
        width: 80px;
    }

    .geral {
        font-size: 9px;
        display: block;
    }

    .esquerdo {
        width: 50%;
        margin-top: -145px;
        margin-left: 90px;
    }

    .direito {
        margin-top: auto;
    }

    .projeto {
        width: auto;
        margin: auto;
    }

    .pro1 {
        display: flex;
        margin: 7px;
    }

    .pro1 i {
        margin: auto;
    }

    .num {
        margin-right: auto;
    }

    .num p {
        width: 50px;
        margin: auto;
    }

    .quadro {
        height: auto;
    }

    .s {
        width: 40vh;
    }
}